# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
schools_complete = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
df = pd.merge(student_data, schools_complete, how="left", on=["school_name", "school_name"])
df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
total_schools = df['school_name'].nunique()
total_students = df['Student ID'].nunique() 
total_budget  =  df.groupby('school_name')['budget'].mean().sum()
average_math = df['math_score'].mean()
average_reading = df['reading_score'].mean()
passing_mscore = (df[df['math_score'] >= 70])['student_name'].nunique()/ (total_students)
passing_rscore = (df[df['reading_score'] >= 70])['student_name'].nunique()/ (total_students)
overall_pscore = (average_math + average_reading)/2

all_schoolsdf = [{ 
                  'total schools': total_schools,
                  'total students': total_students,
                  'total budget': total_budget,
                  'average math score':average_math,
                  'average reading score': average_reading,
                  '% passing math': passing_mscore,
                  '% passing reading': passing_rscore,
                  '% overall passsing scores': overall_pscore, 
                  
                  }]

all_schoolsdf = pd.DataFrame(all_schoolsdf)
all_schoolsdf.head()

,% overall passsing scores,% passing math,% passing reading,average math score,average reading score,total budget,total schools,total students
0,80.431606,0.649119,0.729819,78.985371,81.87784,24649428,15,39170

In [3]:
# total_students = len(df['student_name'].unique())
# len((df[df['math_score'] >= 70])['student_name'].unique())/ (total_students)
# total_budget =df['budget'].sum()
df.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [7]:
all_schools = total_schools 
total_students = all_schoolsdf
school_type = all_schoolsdf['school_type'].first() 
total_budget = all_schoolsdf['total_budget'].first() 

per_student_budget = total_budget/ total_students 

average_math = all_schoolsdf['math_score'].mean()
average_reading = all_schoolsdf['reading_score'].mean()
all_schools = len(all_schoolsdf.groupby(['school_name'])) 
total_students = all_schoolsdf() = len(all_schoolsdf.groupby(['school_name'])) 
total_students = all_schoolsdf()
school_type = all_schoolsdf['school_type'].first() 
total_budget = all_schoolsdf['total_budget'].first() 

per_student_budget = total_budget/ total_students 

average_math = all_schoolsdf['math score'].mean()
average_reading = all_schoolsdf['reading score'].mean()

all_math = all_schoolsdf['school name'] >=70 .groupby(['math score'])
all_pmath = (all_math / total_students) * 100 

all_reading = all_schoolsdf['school name'] > = 70 .groupby(['math score'])
all_preading = (all_reading / total_students) * 100  

all_pstudents = (all_pmath + all_preading) / 2 

tschools = all_schoolsdf = [{
    
                  'total schools': total_schools,
                  'total students': total_students,
                  'total budget': total_budget,
                  'average math score': average_math,
                  'average reading score': average_reading,
                  '% passing math': passing_mscore,
                  '% passing reading': passing_rscore,
                  '% overall p passsing scores': overall_pscores,
                  
                  }]
                             
as_description = pd.dataframe(pschools)
school_type = all_schoolsdf['school_type'].first() 
total_budget = all_schoolsdf['total_budget'].first()

SyntaxError: invalid syntax (<ipython-input-7-7bc30cae38de>, line 24)

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [8]:
tpschools = as_description.sort_values(by = ['% overall pscore'] ascending = false)
tpschools.head()

SyntaxError: invalid syntax (<ipython-input-8-e81caaee7258>, line 1)

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [9]:
bpschools = as_description.sort_values(by= []'% overall passing score'], ascending = true) 
bpschools.head() 
#'% overall passsing scores: overall_pscores

SyntaxError: invalid syntax (<ipython-input-9-37e7800a7cfc>, line 1)

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [ ]:
avg_9th = all_schoolsdf[all_schoolsdf['grade'] == ['avg_9th'].groupby('school name')['math score'].mean()
avg_10th = all_schoolsdf[all_schoolsdf['grade'] == ['avg_10th'].groupby('school name')['math score'].mean() 
avg_11th = all_schoolsdf[all_schoolsdf['grade'] == ['avg_11th'].groupby('school name')['math score'].mean() 
avg_12th = all_schoolsdf[all_schoolsdf['grade'] == ['avg_12'].groupby('school name')['math score'].mean() 

mscore_bygrade = {
    
    '9th grade': avg_9th
    '10th grade': avg_10th
    '11th grade': avg_11th
    '12th grade': avg_12th
}

each_mgrade = pd.dataframe(mscore_bygrade)

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [10]:
avg_9th = all_schoolsdf('school name')['grade'] == 'avg_9th'.groupby('school name')['reading score'].mean()
avg_10th = all_schoolsdf('school name')['grade'] == 'avg_10th'.groupby('school name')['reading score'].mean() 
avg_11th = all_schoolsdf('school name')['grade'] == 'avg_11th'.groupby('school name')['reading score'].mean() 
avg_12 = all_schoolsdf('school name')['grade'] == 'avg_12th'.groupby('school name')['reading score']mean.() 

rscore_bygrade = pd.DataFrame[{
    
    '9th grade': avg_9th
    '10th grade': avg_10th
    '11th grade': avg_11th
    '12th grade': avg_12th
}]

each_rgrade = pd.dataframe(rscore_bygrade)

SyntaxError: invalid syntax (<ipython-input-10-fe0990defee8>, line 4)

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [ ]:
def ('scores by school'): 
    return () if ():

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
def ('scores by school size'): 
    return() if:

## Scores by School Type

* Perform the same operations as above, based on school type.

In [ ]:
score_by_school = as_description ['type', '%overall passing rate']

In [ ]:

total_budget = all_schoolsdf['total_budget'].first()